.small-font {
    font-size:12px !important;
    }

.article-title {
    font-size:22px !important;
    color:rgb(255, 255, 255);
}

.divider {
    height: 12px;
    background-color:rgb(255, 255, 255);
}

.green_arrow {
    color:rgb(157, 219, 157);
}

.red_arrow {
    color:rgb(230, 98, 80);
}
